{% extends "base_unal.html" %}
{% load admin_urls %}
{% load static %}
{% block 'head-title' %}Equipo de trabajo - {% endblock %}

{% block 'main' %}
<div>
  <img src="{% static '/unal/images/perfiles/Grupo.png' %}">
</div>
<div class="dima-Equipo">
    <table>
      <tr>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/andres.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/angela.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/mario.png' %}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/sandro.png' %}">
          </div>
        </td> 
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/geral.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/santiago.png' %}">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/maryi.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/lucho.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/sandra.png' %}">
          </div>          
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/rubiela.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/allison.png' %}">
          </div>
        </td>
        <td>
          <div>
            <img src="{% static '/unal/images/perfiles/alejandro.png' %}">
          </div>
        </td>
      </tr>
    </table>
    
  </div>



<!--<div class="container-lg">

    <h1 class="display-3">Equipo de trabajo
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url teams_admin|admin_urlname:'add' %}'>Agregar al equipo<i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </small>
    </h1>

    <div class="row">
    {% for team in teams %}

      <div class="col-6 dima-teams--team">
        <h1 class="display-9">{{team.area}} -->
        <!--<small class="text-muted">-->
          <!--{% if user.is_authenticated %}
            <a class='dima-edit' href='{% url teams_admin|admin_urlname:'change' team.pk %}'>Editar<i class="bi bi-pencil-square"></i></a>
          {% endif %}-->
        <!--</small>-->
        <!--<</h1>

        {% for name in team.names_split %}
          {{name|lower|title}}</br>
        {% endfor %}
        <dl class="row">
          <dt class="col-md-3 col-lg-2">Email:</dt>
          <dd class="col-md-9 col-lg-10">
            {% for email in team.email_split %}
              <a href="mailto:{{email|lower}}" target="_blank" rel="noopener">{{email|lower}}</a>
            {% endfor %}
          </dd>
          <dt class="col-md-3 col-lg-2">Ext:</dt>
          <dd class="col-md-9 col-lg-10">
            <p>{{team.ext}}</p>
          </dd>
        </dl>
      </div>

    {% endfor %}
    </div>






  </div>
</div>-->
{% endblock %}


