{% extends "formatos_base.html" %}
{% load admin_urls %}
{% load static %}
{% block 'head-title' %}Formatos{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Formatos</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block search %}

<div>
  <form  method="POST" class="search-form">
    {% csrf_token %}
    <div class="search-container">
      <input type="text" name="q" class="search-input" placeholder="Buscar formato o archivo" required>
    </div>
  </form>
</div>

<p><br></p>
<p><br></p>
{% endblock %}

{% block result %}
  {% if file_data %}
    <div class="dima-formatos">
      <table class='dima-content-table'>
        {% for key,values in file_data.items %}
          {% for value in values %}
            {% if forloop.counter0|divisibleby:4 %}
              <tr>
            {% endif %}
        
            <td class="image-cell">
              {% if value.2 == "pdf" %}
                <a href="{{value.1}}">
                  <img src="{% static '/unal/Icons/pdf.svg' %}" alt="Imagen" >
                </a>
                
              {% elif value.2 == "xlsx" %}
                <a href="{{value.1}}">
                  <img src="{% static '/unal/Icons/excel.svg' %}" alt="Imagen" >
                </a>
              {% else %}
                <a href="{{value.1}}">
                  <img src="{% static '/unal/Icons/word.svg' %}" alt="Imagen" >
                </a>
              {% endif %}
              <a href="{{value.1}}">
                {{value.0}}
              </a>
              <p></p>
              <a class="dima-formatos-table-th" href="{{value.1}}">
                {{key}}
              </a>
              <p></p>
            </td>
        
            {% if forloop.counter|divisibleby:4 or forloop.last %}
              </tr>
            {% endif %}
        
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  {% endif %}
{% endblock %}


{% block content %}

<div class="dima-content">
  
  <p><br></p>
  <table class='dima-content-table'>
    <tr>
      {% for key,values in file_view.items %}
        {% for value in values %}
          <td class="image-cell">
            {% if value.2 == "pdf" %}
              <a href="{{value.1}}">
                <img src="{% static '/unal/Icons/pdf.svg' %}" alt="Imagen" >
              </a> 
            {% elif value.2 == "xlsx" %}
              <a href="{{value.1}}">
                <img src="{% static '/unal/Icons/excel.svg' %}" alt="Imagen" >
              </a>
            {% else %}
              <a href="{{value.1}}">
                <img src="{% static '/unal/Icons/word.svg' %}" alt="Imagen" >
              </a>
            {% endif %}
            <a href="{{value.1}}">
              {{value.0}}
            </a>
            <a class="dima-formatos-table-th" href="{{value.1}}">
              {{key}}
            </a>
            <p></p>
          </td>
        {% endfor %}
      {% endfor %}
    </tr>
  </table>

  <p><br></p>
  <h1 class="dima-formatos-text3">
    Archivos adjuntos:
  </h1>
  <p><br></p>
  <div class="dima-formatos">
    <table class='dima-formatos-table'>
      <tbody class="dima-formatos-div">
        <tr class="dima-formatos-background">
          <th class="dima-formatos-table-th">Nombre</th>
          <th class="dima-formatos-table-th">Tamaño</th>
          <th class="dima-formatos-table-th">Área</th>
          <th class="width-min-th"></th>
          <th class="width-min-th"></th>
        </tr>
      {% for key,values in folder_data.items %}
        <tr>
          <th>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="folder" value="{{key}}">
              <input type="image" src="{% static '/unal/Icons/file.svg' %}" alt="Imagen" width="25" height="25" class="image-button" >
              <input type="submit" value="  {{key}}" class="white-button">
            </form>
          </th>
          <th>{{values.0}}&nbsp; MB</th>
          <th class="dima-formatos-table-th">{{values.1}}</th>
          <th class="width-min-th">
            <form  method="post">
              {% csrf_token %}
              <input type="hidden" name="folder" value="{{ key }}">
              <input type="image" src="{% static '/unal/Icons/eye.svg' %}" alt="Imagen" width="20" height="20" class="image-button1">
            </form>            
          </th>
          <th class="width-min-th">
              <a  href="{{ values.2 }}" class="image-button1">
                <img src="{% static '/unal/Icons/download.svg' %}" alt="Imagen" width="20" height="20" >
              </a>
          </th>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div> 
</div> 
{% endblock %}
