{% extends "base_unal.html" %}
{% load admin_urls %}

{% block 'head-title' %}Formatos{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Formatos</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block 'main' %}
<div class="container-lg">
  <div class="row">
    <p><br></p>
    {% block search %}
    {% endblock %}
    {% block result %}
    {% endblock %}
    {% block head %}
    <h1 class="dima-formatos-text1">Formatos y solicitudes 
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url formatos_admin|admin_urlname:'change' formatos.pk %}'> Editar <i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </small>
    </h1>
    {% endblock %}
    <p><br><br></p>
    <p class="dima-formatos-text2">Descarga los documentos y formularios necesarios para realizar tus trámites de manera eficiente.</p>
    {% block content %} 

    {% endblock %}
  </div>
</div>

{% endblock %}
