{% load admin_urls %}


{% if user.is_authenticated %}
  <div class = "container">
    <div class="dima-alert alert alert-danger" role="alert">
      Los docentes se pueden editar desde <a href="{% url professors_admin|admin_urlname:'changelist' %}" target="_blank">este link</a>.
    </div>
  </div>
{% endif %}


<div class = "container-fluid dima-form">
  <div class="container-lg">
    <div class="row">
      <h1 class="display-8">Buscar por Nombre</h1>
        <input type="text" id = "dima-search--first_name__researchers" class="search-input">
    </div>
    <div class="row">

      <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6">
        <h1 class="display-8">Categoría</h1>
        <p></p>
        <select class="form-select" id = "dima-select--category__researchers" aria-label="Default select example">
          <option value="All">Todos los investigadores</option>
          {% for c in researcher_categories %}
            <option value="{{c}}">{{c}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-3 col-sm-6 col-md-6 col-xs-6">
        <h1 class="display-8">Dedicación</h1>
        <p></p>
        <select class="form-select" id="dima-select--dedication__researchers" aria-label="Default select example">
          <option value="All">Todos las dedicaciones</option>
          {% for e in dedication %}
            <option value="{{e}}">{{e}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Facultades</h1>
        <p></p>
        <select class="form-select" id="dima-select--faculty__researchers" aria-label="Default select example">
         <option value="All">Todas las facultades</option>
          {% for f in faculties %}
            <option value="{{f}}">{{f}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
        <h1 class="display-8">Departamentos</h1>
        <p></p>
        <select class="form-select" id="dima-select--departament__researchers" aria-label="Default select example">
          <option value="All">Todos los departamentos</option>
          {% for d in departaments %}
            <option value="{{d}}">{{d}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="container-lg">
    <div class="row">
      <div class="container-fluid">
        <div class="container-lg">
          <div class="row">
            <div class="example" id="ex4">
              <button class="dima-click_buttons dima-click_buttons_inactive" id="button4">Mostrar/Esconder Datos</button>
              <!--
                Everything within the span can be shown/hidden via the button.
                Setting display:none means the content will be hidden by deafult.
              -->
              <span style="display:none" id="zone4" class="zone"> 
                <div class="row">
                  <h1 class="display-8">Docentes por:</h1>
                  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <h2 class="display-9">Categoría</h2>
                    <div class="dima-plot" id="dima-plot--researchers_category" filters="FILTERS_RESEARCHERS"></div>
                  </div>
                  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <h2 class="display-9">Dedicación</h2>
                    <div class="dima-plot" id="dima-plot--researchers_dedication" filters="FILTERS_RESEARCHERS"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <h2 class="display-9">Facultad</h2>
                    <div class="dima-plot" id="dima-plot--researchers_faculty" filters="FILTERS_RESEARCHERS"></div>
                  </div>
                  <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                    <h2 class="display-9">Departamento</h2>
                    <div class="dima-plot" id="dima-plot--researchers_departament" filters="FILTERS_RESEARCHERS"></div>
                  </div>
                </div>
              </span>
              <script type="text/python"  id="script4">
                from browser import bind, document
            
                @bind("#button4", "click")
                def change(event):
                    display = document["zone4"].style.display
                    document["zone4"].style.display = "inline" if display == "none" else "none"
              </script>
            </div>
            {% if user.is_authenticated %}
              <div class="container">
                <div class="dima-alert alert alert-danger" role="alert">
                  Sólo se muestran los docentes con una categoría de investigador en Minciencias.
                </div>
              </div>
            {% endif %}
            <div class="table_overfull" id="dima-placeholder__researchers">
              {% include 'researchers_list.html' %}
            </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>