{% extends "base_unal.html" %}
{% load admin_urls %}

{% block 'head-title' %}Creación de Spin-off{% endblock %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Creación de Spin-off</a></li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block 'main' %}
<div class="container-lg">
  <div class="row">

    <h1 class="display-3">Proceso de creación de emprendimientos Spin-off
      <small class="text-muted">
        {% if user.is_authenticated %}
          <a href='{% url spinoff_admin|admin_urlname:'change' spinoff.pk %}'> Editar <i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </small>
    </h1>
    <div class="dima-content">
      {{spinoff.content|safe}}

      {% if spinoff.attachment.count %}
        <br><br>
        <h1>Archivos adjuntos:</h1>
        <ul>
          {% for attachment in spinoff.attachment.all %}
            <li><a href='{{attachment.attachment.url}}' target='_blank'>{{attachment.name}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>




  </div>
</div>
{% endblock %}
