.dima-sidebar {
  background-color: red;
  width: 20vw;
  height: 100vh;
}

.dima-table{
  margin-left:auto;
  margin-right:auto;
}
.dima-table td{
  margin-left:auto;
  margin-right:auto;
}
.dima

.display-8 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-9 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-10 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-form {
  padding: 30px 30px;
  background-color: #fefeff;
  margin-top: 30px;
  margin-bottom: 30px;
  width: calc(100% + 30px);
  margin-left: -15px;
}

.dima-plot {
  margin-bottom: 30px;
  margin-top: 30px;
}

main.detalle {
  margin: 5% 5% 5% 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 6px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

main.detalle p{
  color:black;
  text-align: center;
}

main.detalle input{
  width:100%;
  max-width: 350px;
  margin:15px 0px 15px 0px;
  border-radius: 10px;
  color:black;
  background-image: url('/static/unal/Icons/lupa.svg');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 20px 20px;
  background-color: #F1F1F1;
  padding: 5px 0px 5px 25px;
}

main .-class {
  margin-bottom: 30px !important;
}

main {
  font-family: 'Ancizar Sans Light' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ancizar Sans Light" !important;
  color: #14a8df !important;
}

.dima-main {
  font-size: 150%;
  line-height: 120%;
}

.dima-logo {
  padding: 5px 15px;
}

.dima-card {
  width: 15rem;
  margin: 5px 5px;
}

.calls-card{
  display: flex;
  flex-direction:row;
  border-radius: 19px;
  justify-content: space-between;
  
  box-shadow: 0px 3px 6px #00000029;
}

.calls-card-body{
  width:75%;
}

.calls-img{
  margin: 15px;
  width: 20%;
  height: 20%;
}
.call-img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

.cards-title {
  display: flex;
  justify-content: space-between;
}
.db-title{
  margin-left: 5px;
  font-size: 12px;
  text-overflow: unset;
  white-space: nowrap;
  border-radius: 10px;
  padding: 10px;
  width: min-content;
  height: min-content;
}
.student-title {
  background-color: #D8E5BF;
}

.inner-title {
  background-color: #FEECC3;
}

.outer-title {
  background-color: #C1A3DE;
}

.joint-title {
  background-color: #F9BACE;
}

.minscience-title {
  background-color: #FEEFCD;
}

.dima-logo img {
  width: 25vw;
}

.dima-newsletter {}

.dima-newsletter--thumbnail {
  display: inline-grid;
  margin: 30px;
  border: 1px solid white;
  border-radius: 4px;
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.dima--carousel-item {
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.dima--carousel-blur {
  filter: blur(7px) brightness(0.5);
  position: absolute;
  z-index: -1;
  height: calc(100% + 30px);
  width: 120%;
  margin: 0px -10px;
  margin-top: -10px;
  margin-left: -10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dima--carousel-item img {
  margin: 20px auto;
  height: 45vh;
  z-index: 10;
  filter: drop-shadow(2px 4px 6px #5b5b5b);
  border-radius: 4px;
  max-width: 90%;
  max-height: 30vh;
}

#dima-carousel {}

.dima--carousel-separator {
  background-color: #5b5b5bcc;
  width: 100%;
  height: 30px;
}

.carousel-indicators {
  margin-bottom: 0.3rem;
}

.carousel-caption {
  position: absolute;
  bottom: 2rem;
  right: 40px;
  color: #fff;
  text-align: left;
  background-color: #5b5b5bcc;
  padding: 30px;
  left: auto;
  width: 30vw;
}

.dima-carousel-caption__link {
  line-height: 30px;
}

.dima-carousel-caption__link:hover {
  color: #b9cd83;
}

.carousel-caption.carousel-caption--auth {
  left: 20vw;
  right: unset;
  width: auto;
  text-align: center;
  padding: 15px 20px;
}

.dima-link--edit {
  position: absolute;
  padding: 10px;
  z-index: 9999999;
}

.carousel-caption.carousel-caption--auth a:hover,
.dima-link--edit:hover {
  color: #b9cd83;
}

.dima-teams {}

.dima-teams--team {
  margin-top: 60px;
  line-height: 130%;
  font-size: 80%;
}

.dima-edit {
  font-size: 60%;
}

.dima-content {
  color:black;
  margin-top: 20px;
}

.dima-content p {
  margin: 15px 0;
}

.dima-content p:first-child {
  margin: 0;
  margin-bottom: 15px;
}

/*.dima-content h1 {*/
/*text-transform: lowercase;*/
/*}*/
/*.dima-content h1::first-letter {*/
/*text-transform: uppercase;*/
/*}*/
.dima-content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol.list-group {
  padding-inline-start: 15px;
}

.dima-content a {
  border-bottom: 1px dotted;
}

.dima-content a:hover {
    text-decoration: none;
    color: #4d640d;
}

.dima-nav__container {
  background-position-y: 100%;
  background-image:  url('/static/assets/carousel.png');
  background-color: #4b5b9b;
  background-repeat: no-repeat;
  background-size: cover;
}

.dima-nav__container ul {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 10px;
  padding: 10px 15px;
}

.dima-nav__container li {
  background-color: #666666;
  transition-duration: 0.5s;
  margin: 0px 5px;
  padding: 0px 22px;
  width: 192px;
  height: 34px;
  display: flex;
  width: max-content;
  align-items: center;
}

.dima-nav__container li a:focus,
.dima-nav__container li a:hover,
.dima-nav__container li a {
  margin: 6px 4px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/12px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  font: normal normal bold 12px/12px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.dima-nav__container li img {
  margin: 5px -27px;
  width: 57px;
  height: 25px;
}


.dima-nav__container li p:focus,
.dima-nav__container li p:hover,
.dima-nav__container li p {
  margin: 6px 4px 6px 18px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/12px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  font: normal normal bold 12px/12px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.dima-nav__container ul a{
  color:white;
}

.dima-dropdown-menu {
  top: 10px !important;
}

.dima-bi {
  font-size: 50%;
}

.dima-list-noindent {
  padding-left: 1em !important;
  margin-block-start: 0 !important;
}

.dima--table-btn-link {
text-align: left;
}

.dima-alert {
  margin: 30px;
  padding: 15px;
  font-size: 120%;
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  font-family: Ancizar Sans Light;
  line-height: 17px;
  font-size: 17px;
  width: -webkit-fill-available;
}

.dima-alert a {
  font-weight: 600;
  text-decoration: underline;
}

.dima-alert.alert-danger a,
.dima-alert.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.dima-alert.alert-info a,
.dima-alert.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.dima-image__internal_call{
  width: 100%;
  max-height: 90vh;
  padding-bottom: 15px;
}

.dima-image__no_image{
text-transform: capitalize;
    padding: 100px 30px;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
    font-family: 'Ancizar sans light';
  border-radius: 4px;

}

.dima-internal_call {
    margin-bottom: 60px;
        padding: 0 15px;
}


.dima-margin-bottom__30{
  margin-bottom: 30px;
}

.dima__disable{
    background-color: #ededed;
    opacity: 0.3;
}


.dima__card-badge {
  margin-top: 16px;
}

.dima-attachment {
      margin-top: 30px;
}




@media only screen and (max-device-width: 768px) {
  .dima-nav__container .nav-item{

  width: 100%;

  }

}


#unalTop .navigation .mainMenu {
    margin-right: 70px !important;
}


.nav-item_icon {
  opacity: 1;

}
.nav-item_icon1 {
  opacity: 1;
  filter: grayscale(100%) brightness(0) invert(100%);

}
.dima-equipo_icon1{
  position: absolute;
  top: 0px;
  opacity: 1;
  width: 31px !important;
  height: 31px !important;

}

.dima-map {
  height: 30vh !important;
  border: 0px solid #e8eaed;
  width: 300px;
}


.dima-nav__container ul.dima-nav-home {
  display: block;
  margin-left: 0;
  margin-right: 0;
}


.dima-nav__container-home {
  background: unset;
  border: none;
}


.dima-color_one:hover {
  background-color: #FEADCD;
  color: #212529;
}
.dima-color_two:hover {
  background-color: #FFEC9F;
  color: #212529;
}
.dima-color_three:hover {
  background-color: #79E7B8;
  color: #212529;
}
.dima-color_four:hover {
  background-color: #5BD2F0;
  color: #212529;
}
.dima-color_five:hover {
  background-color: #9BE7FF;
  color: #212529;
}
.dima-color_six:hover {
  background-color: #B9ACF2;
  color: #212529;
}

.dima-nav-home .nav-item a:hover {
  color: #212529 !important;
}

.dima-nav-home .nav-item{
  margin-left: 0px;
}



@media only screen and (min-width: 992px) {
  .dima-home_address {
    margin-top: 20vh;
  }
}

.nav-item{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_formatos{
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;

}
.nav-item_formatos1{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #94b43b !important;

}
.nav-item_datos{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.nav-item_datos1{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #94b43b !important;
}

.nav-item_boletin{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.nav-item_boletin1{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #94b43b !important;
}
.nav-item_convocatoria{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;

}

.nav-item_convocatoria1{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #94b43b !important;

}

.nav-item_contacto{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_equipo{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.nav-item_equipo1{
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/20px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 18px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #94b43b !important;
}
.nav-item_formatos:hover {
  background-color: #94b43b;
}

.nav-item_datos:hover {
  background-color: #94b43b;
}

.nav-item_boletin:hover {
  background-color: #94b43b;;
}

.nav-item_convocatoria:hover {
  background-color: #94b43b;;
}

.nav-item_contacto:hover {
  background-color: #94b43b;;
}

.nav-item_equipo:hover {
  background-color: #94b43b;;
}

.dima-private {
  color: #D2042D !important;
}

.custom-tooltip {
  --bs-tooltip-bg: #D2042D;
}


a.dima-non_style_link:hover,
a.dima-non_style_link {
    color: unset;
    text-decoration: none;
    border: none;

}


.dima-content.dima-small_br dt,
.dima-content.dima-small_br dd {
  padding-top: 15px;
}

.dima-download_icon {
    margin-left: 7px;
}



.dima-content ul li a {
  border-bottom: unset;
}


.dima_tab-pane {
  padding: 30px;
}



.dima-dragndrop {
    background-color: #ebebeb82;
    /* height: 150px; */
    /* text-align: center; */
    padding: 30px;
    padding-bottom: 15px;
}

.dima-dragndrop_area {
  min-height: 100px;
  /*border: 5px dotted #dbdbdb;*/
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.dima-dragndrop_buttons {
text-align: right;
}


.dima-dragndrop_output {
    font-family: monospace;
    font-size: 80%;
    text-align: left;
}
.dima-dragndrop_output li {
    list-style: none;
}

.dima-navbar {
    background-color: #ebebeb;
    margin-bottom: 60px;

}

.dima-click_buttons {
  border: none;
  border-radius: 10px;
  color: black;
  font:Ancizar Sans;
  padding: 11px 16px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 15px;
}

.dima-click_buttons_inactive {
  background-color: #F1F1F1;  
}
.dima-click_buttons_inactive:hover {
  background-color: #D1D1D1;
}


.dima-txt1{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans) !important ;
  letter-spacing: var(--unnamed-character-spacing-0) !important ;
  font: normal normal normal 24px/28px Ancizar Sans !important ;
  letter-spacing: 0px !important ;
  color: #482283 !important ;
}
.dima-txt2{
  /* Layout Properties */
/* UI Properties */
  font: italic normal var(--unnamed-font-weight-300) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans) !important ;
  letter-spacing: var(--unnamed-character-spacing-0) !important ;
  font: italic normal 300 24px/28px Ancizar Sans !important ;
  letter-spacing: 0px !important ;
  color: #482283 !important ;
  }
.dima-txt3{
/* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-ancizar-sans)!important ;
  letter-spacing: var(--unnamed-character-spacing-0)!important ;
  color: var(--unnamed-color-1b2242) !important ;
  font: normal normal bold 32px/36px Ancizar Sans!important ;
  letter-spacing: 0px!important ;
  color: #1B2242 !important ;
  opacity: 1!important ;
}
.dima-txt4{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans)!important ;
  letter-spacing: var(--unnamed-character-spacing-0)!important ;
  color: var(--unnamed-color-1b2242)!important ;
  font: normal normal normal 24px/28px Ancizar Sans !important ;
  color: #1B2242 !important ;
  opacity: 1 !important ;
  
  list-style-type: disc !important ;
}
.dima-txt4 li::marker {
  color: #00C18A; /* Aquí puedes cambiar el color a tu preferencia */
}
.dima-div-0 {
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/formatos y solicitudes 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-0:hover {
  background-image: url('/static/unal/images/formatos y solicitudes 1.png'); /* establece la segunda imagen al pasar el cursor */
}

.dima-div-1 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/formatos y solicitudes.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
  }
.dima-buttons-0{
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 120px !important;
  height: 35px !important;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
}
.dima-div-2 {
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/dima en datos 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-2:hover {
  background-image: url('/static/unal/images/dima en datos 1.png'); /* establece la segunda imagen al pasar el cursor */
}

.dima-div-3 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/dima en datos.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
  }
.dima-buttons-1{
  /* Layout Properties */
  position: relative;
  top: 0px !important;
  left: -10px !important;
  width: 120px !important;
  height: 35px !important;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
}
.dima-div-4 {
  /* Layout Properties */
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/boletines 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-4:hover {
  background-image: url('/static/unal/images/boletines 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-5 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/boletines.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-6 {
  /* Layout Properties */
  /* UI Properties */

  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/convocatorias 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-6:hover {
  background-image: url('/static/unal/images/convocatorias 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-7 {
  /* Layout Properties */
  
  position: relative;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
  top: 0px !important;
  left: 0px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/convocatorias.svg');
  background-size: auto;
  background-position: 80 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-8 {
  /* Layout Properties */
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/contacto 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-8:hover {
  background-image: url('/static/unal/images/contacto 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-9 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/contacto.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-equipo{
  position: relative;
  margin: auto; /* Espaciado inferior */
  left: -50px !important;
}
.dima-equipo-txt1{
  position: absolute;
  left: 40px !important;;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  
  font: normal normal bold 18px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #1B2242 !important;
  opacity: 1;
}
.dima-equipo-txt2{
  position: absolute;
  left: 40px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-12)/18px var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-83878d);
  font: normal normal 300 12px/18px Ancizar Sans;
  letter-spacing: 0px;
  color: #83878D !important; 
  opacity: 1; 
}
.dima-equipo-txt3{
  
  position: absolute;
  left: 40px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5300a3);
  font: normal normal bold 12px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #5300A3 !important;
  opacity: 1;
  }

.dima-equipo-txt4{
  position: absolute;
  left: 440px !important;;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  
  font: normal normal bold 18px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #1B2242 !important;
  opacity: 1;
  }
.dima-equipo-txt5{
  
  position: absolute;
  left: 440px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5300a3);
  font: normal normal bold 12px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #5300A3 !important;
  opacity: 1;
    }
.dima-equipo-txt6{
  position: absolute;
  left: 840px !important;;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  
  font: normal normal bold 18px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #1B2242 !important;
  opacity: 1;
    }
.dima-equipo-txt7{
  position: absolute;
  left: 840px !important;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-5300a3);
  font: normal normal bold 12px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #5300A3 !important;
  opacity: 1;
      }
.top-align {
  vertical-align: top;
  
}
.top-align1 {
  width: 200px;
  height: 40px;
  vertical-align: top;
  
}
.dima-equipo-txt8{
  font: normal normal bold 16px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
  color: #1B2242 !important;
  width: max-content;
}
.dima-equipo-txt9{
  font: normal normal 300 16px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
  color: #1B2242 !important;
  width: max-content;
}
.dima-equipo-txt10{
  text-align: left !important;
  font: normal normal 300 9px/13px Ancizar Sans !important;
  letter-spacing: 0px !important; 
  color: #1B2242 !important;
  opacity: 1 !important;
}


.container {
  width: 500px; /* Establece el ancho deseado */
  height: 300px; /* Establece la altura deseada */
  margin-top: 56px; /* Espaciado superior */
  margin-bottom: 26px; /* Espaciado inferior */
  position: relative;
  left: -369px !important;
}
.table {
  width: 100%;
  height: 100%;
  padding-right:20;
}
.table td {
  padding-left: 20px; /* Espaciado izquierdo */
  padding-right: 20px; /* Espaciado derecho */
}

.table_overfull {
  overflow-y: scroll;
  max-height: 900px;
}
.dima-formatos-text1{
  text-align: left !important;
  font: normal normal bold 18px/23px Ancizar Sans !important;
  letter-spacing: 0px;
  color: #1B2242 !important;
  opacity: 1 !important;
}
.dima-formatos-text2{
  position: relative;
  left: 18px;
  text-align: left !important;
  font: normal normal 300 18px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
  opacity: 1 !important;
}
.dima-formatos-text3{
  color: var(--unnamed-color-1b2242)!important;
  text-align: left!important;
  font: normal normal 300 18px/23px Ancizar Sans!important;
  letter-spacing: 0px!important;
  color: #1B2242!important;
  opacity: 1!important;
}
.white-button {
  background-color: white;
  color: black;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno al hacer clic en el botón */
  /* Agrega aquí otros estilos personalizados según tus necesidades */
}
.dima-formatos{
  position: relative;
  display: inline list-item;
  margin: 0px ;
  left: 0px !important;
  width: max-content;
  list-style-type: none;
}
.dima-formatos-table{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  border: 1px solid #F0F6FF;
  border-radius: 12px;
  opacity: 1;
}
.dima-formatos-table th{
  position: relative;
  width: 350px;
  height: 59px;
  border-bottom: 1px solid #F0F6FF;
  border-radius: 12px;
  opacity: 1;
  vertical-align: middle;
  text-align: left;
  font: normal normal normal 14px/17px Ancizar Sans;
  letter-spacing: 0px;
  color: #1F2022;
}
.dima-formatos-table span{
  text-align: center;

}
.dima-formatos-table th a{
  font: normal normal normal 14px/17px Ancizar Sans;
  letter-spacing: 0px;
  color: #1F2022;
  vertical-align: middle;
  border-bottom: 0px dotted !important;
}
.dima-formatos-table a:hover{

  color: #1F2022;
}
.dima-formatos-table-th{
  font: normal normal medium 14px/19px Plus Jakarta Sans !important;
  color: #83878D !important;
}
.dima-formatos-table-th a{
  font: normal normal medium 14px/19px Plus Jakarta Sans !important;
  color: #83878D !important;
}
.width-min-th{
  width: 35px !important;
}
.image-button {
  position: relative;
  border-bottom: 0px dotted !important;

   /* Elimina el contorno al hacer clic en el botón */
  /* Agrega aquí otros estilos personalizados según tus necesidades */
}
.image-button1 {
  position: relative;
  border-bottom: 0px dotted !important;
  display: flex
}
;
.dima-formatos-div{
  width: max-content !important;
  display: inline-block !important;
}
.dima-formatos-background{
  background: #FCFDFF 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}
.file {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.image-cell {
  width: max-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0F6FF;
  border-radius: 12px;
  opacity: 1;
}

.image-cell img {
  width: 210px;
  height: 144px;
  background: #F5F9FF 0% 0% no-repeat padding-box;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
}

.dima-content-table{
  margin-left: 0px;
  margin-right: 0px;
  width: 264px;
  height: 276px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 30;
}
.dima-content-table td, 
.dima-content-table th {
  content: "";
  position: relative;
  top: 0;
  right: 30px;
  bottom: 0px;
  width: 0px;
}
.dima-content-table a{
  width: 210px !important;
  text-align: left !important;
  display: inline-block;
  border-bottom: 0px dotted !important;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  font: normal normal normal 16px/19px Ancizar Sans;
  letter-spacing: 0px;
  color: #1F2022;
  opacity: 1;
  }

.dima-content-table a:hover{
  color: #000000;
  }
.dima-content-button{
  display: inline-block;
  padding: 10px 20px;
  background:#D9D9D9 0% 0% no-repeat padding-box;
  color:#7FA82A !important;
  text-decoration: none;
  border-radius: 5px;

}
.dima-content-button-th{
text-align: right !important;
}
.width-min-th-{
  width: 35px !important;
  border-bottom: 0px dotted !important;
}
.dima-content-text-1{
  display: flex; /* Agregado para utilizar flexbox */
  align-items: center; /* Agregado para alinear verticalmente los elementos */
  text-align: left;
  font: normal normal bold 18px/23px Ancizar Sans;
  letter-spacing: 0px;
  color: #1B2242;
  opacity: 1;
}
.dima-content-text-1 a{
  color: #1B2242;
  text-align: center;
  display: contents;

}
.dima-content-text-1 a:hover{
  color: #1B2242;
  text-decoration: none;
  border-bottom: 0px dotted !important;
}
.dima-content-text-1 img{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 8px 29px #695F972E;
  border-radius: 9px;
  opacity: 1;
}
.search-container {
  display: grid;
  align-items: center;
 
}
.search-form{
  background: #F1F1F1 0% 0% no-repeat padding-box;
  border: 1px solid #F0F6FF;
  border-radius: 12px;
  opacity: 1;
}
.search-input {
  width: 967px;
  height: 48px;
  padding-left: 30px;
  background-image: url('/static/unal/Icons/lupa.svg') !important;
  background-repeat: no-repeat!important;
  background-position: 5px center!important;
  background-size: 20px 20px!important;
  background: #F1F1F1 0% 0% no-repeat padding-box;
  border: 1px solid #F0F6FF;
  border-radius: 12px;
  opacity: 1;
}

.col-30-70 {
  width:25%;
}

.col-70-30 {
  width:73%;
  max-height: 750px;
  border-radius: 18px;
  overflow-y:scroll;
  background-color: #F1F1F1;
}

.div-flex {
  justify-content: space-between;
  display:flex;
}

#dima-select--state__calls,
#dima-select--student__calls,
#dima-select--sum__calls {
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #F1F1F1;
}

