.dima-sidebar {
  background-color: red;
  width: 20vw;
  height: 100vh;
}

.dima-table{
  margin-left:auto;
  margin-right:auto;
}

.display-8 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-9 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-10 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-group--name {
  color: #636efa;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.dima-form {
  padding: 30px 30px;
  background-color: #fefeff;
  margin-top: 30px;
  margin-bottom: 30px;
  width: calc(100% + 30px);
  margin-left: -15px;
}

.dima-plot {
  margin-bottom: 30px;
  margin-top: 30px;
}

main.detalle {
  margin: 5% 5% 5% 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 0 6px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

main.detalle p{
  color:black;
  text-align: center;
}

main.detalle input{
  color:black;
}

main .-class {
  margin-bottom: 30px !important;
}

main {
  font-family: 'Ancizar Sans Light' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ancizar Sans Light" !important;
  color: #14a8df !important;
}

.dima-main {
  font-size: 150%;
  line-height: 120%;
}

.dima-logo {
  padding: 5px 15px;
}

.dima-card {
  width: 15rem;
  margin: 5px 5px;
}

.dima-logo img {
  width: 25vw;
}

.dima-newsletter {}

.dima-newsletter--thumbnail {
  display: inline-grid;
  margin: 30px;
  border: 1px solid white;
  border-radius: 4px;
}

/* [1] The container */
.img-hover-zoom {
  overflow: hidden;
  /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.dima--carousel-item {
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.dima--carousel-blur {
  filter: blur(7px) brightness(0.5);
  position: absolute;
  z-index: -1;
  height: calc(100% + 30px);
  width: 120%;
  margin: 0px -10px;
  margin-top: -10px;
  margin-left: -10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dima--carousel-item img {
  margin: 20px auto;
  height: 45vh;
  z-index: 10;
  filter: drop-shadow(2px 4px 6px #5b5b5b);
  border-radius: 4px;
  max-width: 90%;
  max-height: 30vh;
}

#dima-carousel {}

.dima--carousel-separator {
  background-color: #5b5b5bcc;
  width: 100%;
  height: 30px;
}

.carousel-indicators {
  margin-bottom: 0.3rem;
}

.carousel-caption {
  position: absolute;
  bottom: 2rem;
  right: 40px;
  color: #fff;
  text-align: left;
  background-color: #5b5b5bcc;
  padding: 30px;
  left: auto;
  width: 30vw;
}

.dima-carousel-caption__link {
  line-height: 30px;
}

.dima-carousel-caption__link:hover {
  color: #b9cd83;
}

.carousel-caption.carousel-caption--auth {
  left: 20vw;
  right: unset;
  width: auto;
  text-align: center;
  padding: 15px 20px;
}

.dima-link--edit {
  position: absolute;
  padding: 10px;
  z-index: 9999999;
}

.carousel-caption.carousel-caption--auth a:hover,
.dima-link--edit:hover {
  color: #b9cd83;
}

.dima-teams {}

.dima-teams--team {
  margin-top: 60px;
  line-height: 130%;
  font-size: 80%;
}

.dima-edit {
  font-size: 60%;
}

.dima-content {
  color:black;
  margin-top: 20px;
}

.dima-content p {
  margin: 15px 0;
}

.dima-content p:first-child {
  margin: 0;
  margin-bottom: 15px;
}

/*.dima-content h1 {*/
/*text-transform: lowercase;*/
/*}*/
/*.dima-content h1::first-letter {*/
/*text-transform: uppercase;*/
/*}*/
.dima-content ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.dima-content ol.list-group {
  padding-inline-start: 15px;
}

.dima-content a {
  border-bottom: 1px dotted;
}

.dima-content a:hover {
    text-decoration: none;
    color: #4d640d;
}

.dima-nav__container {
  background-image:  url('/static/assets/carousel.png');
  background-color: #4b5b9b;
  background-repeat: no-repeat;
  background-size: cover;
}

.dima-nav__container ul {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-right: 10px;
}

.dima-nav__container li {
  background-color: #666666;
  margin: 10px 5px;
  padding: 10px 30px;
  display: flex;
}

.dima-nav__container li a:focus,
.dima-nav__container li a:hover,
.dima-nav__container li a {
  color: white;
  text-decoration: none;
  font-family: "Ancizar sans light";
  line-height: 20px;
  font-size: 70%;
  text-transform: uppercase;
}

.dima-nav__container li img {
  width: 35px;
  height: 35px;
}

.dima-dropdown-menu {
  top: 10px !important;
}

.dima-bi {
  font-size: 50%;
}

.dima-list-noindent {
  padding-left: 1em !important;
  margin-block-start: 0 !important;
}

.dima--table-btn-link {
text-align: left;
}

.dima-alert {
  margin: 30px;
  padding: 15px;
  font-size: 120%;
  background-image: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  font-family: Ancizar Sans Light;
  line-height: 17px;
  font-size: 17px;
  width: -webkit-fill-available;
}

.dima-alert a {
  font-weight: 600;
  text-decoration: underline;
}

.dima-alert.alert-danger a,
.dima-alert.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.dima-alert.alert-info a,
.dima-alert.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.dima-image__internal_call{
  width: 100%;
  max-height: 90vh;
  padding-bottom: 15px;
}

.dima-image__no_image{
text-transform: capitalize;
    padding: 100px 30px;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: white;
    font-family: 'Ancizar sans light';
  border-radius: 4px;

}

.dima-internal_call {
    margin-bottom: 60px;
        padding: 0 15px;
}


.dima-margin-bottom__30{
  margin-bottom: 30px;
}

.dima__disable{
    background-color: #ededed;
    opacity: 0.3;
}


.dima__card-badge {
  margin-top: 16px;
}

.dima-attachment {
      margin-top: 30px;
}




@media only screen and (max-device-width: 768px) {
  .dima-nav__container .nav-item{

  width: 100%;

  }

}


#unalTop .navigation .mainMenu {
    margin-right: 70px !important;
}


.nav-item_icon {
  opacity: 0.5;
  filter: invert(1);
}

.dima-map {
  height: 100vh !important;
  border: 10px solid #e8eaed;
}


.dima-nav__container ul.dima-nav-home {
  display: block;
  margin-left: 0;
  margin-right: 0;
}


.dima-nav__container-home {
  background: unset;
  border: none;
}


.dima-color_one:hover {
  background-color: #FEADCD;
  color: #212529;
}
.dima-color_two:hover {
  background-color: #FFEC9F;
  color: #212529;
}
.dima-color_three:hover {
  background-color: #79E7B8;
  color: #212529;
}
.dima-color_four:hover {
  background-color: #5BD2F0;
  color: #212529;
}
.dima-color_five:hover {
  background-color: #9BE7FF;
  color: #212529;
}
.dima-color_six:hover {
  background-color: #B9ACF2;
  color: #212529;
}

.dima-nav-home .nav-item a:hover {
  color: #212529 !important;
}

.dima-nav-home .nav-item{
  margin-left: 0px;
}



@media only screen and (min-width: 992px) {
  .dima-home_address {
    margin-top: 20vh;
  }
}

.nav-item{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_formatos{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_datos{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_boletin{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_convocatoria{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_contacto{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_equipo{
  border-radius: 8px;
  cursor: pointer;
}

.nav-item_formatos:hover {
  background-color: #fd0;
}

.nav-item_datos:hover {
  background-color: #ffb600;
}

.nav-item_boletin:hover {
  background-color: #52b8be;
}

.nav-item_convocatoria:hover {
  background-color: #008c95;
}

.nav-item_contacto:hover {
  background-color: #ff3d30;
}

.nav-item_equipo:hover {
  background-color: #9e271f;
}

.dima-private {
  color: #D2042D !important;
}

.custom-tooltip {
  --bs-tooltip-bg: #D2042D;
}


a.dima-non_style_link:hover,
a.dima-non_style_link {
    color: unset;
    text-decoration: none;
    border: none;

}


.dima-content.dima-small_br dt,
.dima-content.dima-small_br dd {
  padding-top: 15px;
}

.dima-download_icon {
    margin-left: 7px;
}



.dima-content ul li a {
  border-bottom: unset;
}


.dima_tab-pane {
  padding: 30px;
}



.dima-dragndrop {
    background-color: #ebebeb82;
    /* height: 150px; */
    /* text-align: center; */
    padding: 30px;
    padding-bottom: 15px;
}

.dima-dragndrop_area {
  min-height: 100px;
  /*border: 5px dotted #dbdbdb;*/
  margin-bottom: 20px;
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.dima-dragndrop_buttons {
text-align: right;
}


.dima-dragndrop_output {
    font-family: monospace;
    font-size: 80%;
    text-align: left;
}
.dima-dragndrop_output li {
    list-style: none;
}


.dima-navbar {
    background-color: #ebebeb;
    margin-bottom: 60px;

}

.dima-click_buttons {
  background-color: #14A8DF;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.dima-click_buttons_0 {
  background-color: white; 
  color: black; 
  border: 2px solid #14A8DF;
}
.dima-click_buttons_0:hover {
  background-color: #14A8DF;
  color: white;
}
.dima-txt1{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans) !important ;
  letter-spacing: var(--unnamed-character-spacing-0) !important ;
  font: normal normal normal 24px/28px Ancizar Sans !important ;
  letter-spacing: 0px !important ;
  color: #482283 !important ;
}
.dima-txt2{
  /* Layout Properties */
/* UI Properties */
  font: italic normal var(--unnamed-font-weight-300) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans) !important ;
  letter-spacing: var(--unnamed-character-spacing-0) !important ;
  font: italic normal 300 24px/28px Ancizar Sans !important ;
  letter-spacing: 0px !important ;
  color: #482283 !important ;
  }
.dima-txt3{
/* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-ancizar-sans)!important ;
  letter-spacing: var(--unnamed-character-spacing-0)!important ;
  color: var(--unnamed-color-1b2242) !important ;
  font: normal normal bold 32px/36px Ancizar Sans!important ;
  letter-spacing: 0px!important ;
  color: #1B2242 !important ;
  opacity: 1!important ;
}
.dima-txt4{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/28px var(--unnamed-font-family-ancizar-sans)!important ;
  letter-spacing: var(--unnamed-character-spacing-0)!important ;
  color: var(--unnamed-color-1b2242)!important ;
  font: normal normal normal 24px/28px Ancizar Sans !important ;
  color: #1B2242 !important ;
  opacity: 1 !important ;
  
  list-style-type: disc !important ;
}
.dima-txt4 li::marker {
  color: #00C18A; /* Aquí puedes cambiar el color a tu preferencia */
}
.dima-div-0 {
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/formatos y solicitudes 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-0:hover {
  background-image: url('/static/unal/images/formatos y solicitudes 1.png'); /* establece la segunda imagen al pasar el cursor */
}

.dima-div-1 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/formatos y solicitudes.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
  }
.dima-buttons-0{
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 120px !important;
  height: 35px !important;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
}
.dima-div-2 {
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/dima en datos 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-2:hover {
  background-image: url('/static/unal/images/dima en datos 1.png'); /* establece la segunda imagen al pasar el cursor */
}

.dima-div-3 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/dima en datos.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
  }
.dima-buttons-1{
  /* Layout Properties */
  position: relative;
  top: 0px !important;
  left: -10px !important;
  width: 120px !important;
  height: 35px !important;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
}
.dima-div-4 {
  /* Layout Properties */
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/boletines 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-4:hover {
  background-image: url('/static/unal/images/boletines 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-5 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/boletines.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-6 {
  /* Layout Properties */
  /* UI Properties */

  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/convocatorias 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
  margin: 0 15px 0 0;
}
.dima-div-6:hover {
  background-image: url('/static/unal/images/convocatorias 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-7 {
  /* Layout Properties */
  
  position: relative;
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-23) var(--unnamed-font-family-ancizar-sans) !important;
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  font: normal normal bold 24px/23px Ancizar Sans !important;
  letter-spacing: 0px !important;
  top: 0px !important;
  left: 0px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/convocatorias.svg');
  background-size: auto;
  background-position: 80 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-8 {
  /* Layout Properties */
  /* UI Properties */
  width: 220px;
  height: 455px;
  background-image: url('/static/unal/images/contacto 0.png');
  background-size: cover !important ; /* ajusta el tamaño de la imagen para cubrir todo el contenedor */
  transition: background-image 0.5s ease !important ; /* agrega una transición suave al cambiar la imagen */
}
.dima-div-8:hover {
  background-image: url('/static/unal/images/contacto 1.png'); /* establece la segunda imagen al pasar el cursor */
}
.dima-div-9 {
  /* Layout Properties */
  top: 23px !important;
  left: 41px !important;
  width: 230px !important;
  height: 360px !important;
  /* UI Properties */
  letter-spacing: var(--unnamed-character-spacing-0) !important;
  color: var(--unnamed-color-ffffff) !important;
  text-align: center !important;
  letter-spacing: 0px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  /* Flexbox Properties */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* Background Image Properties */
  background-image: url('/static/unal/Icons/contacto.svg');
  background-size: auto;
  background-position: 87 240;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease !important; /* agrega una transición suave al cambiar la imagen */
}
.dima-equipo{
  position: relative;
  left: -50px !important;
}