{% extends "base_unal.html" %}
{% load admin_urls %}
{% load dima_utils %}
{% block 'head-title' %}Convocatorias - {% endblock %}


{% block 'breadcrumb' %}
<div class="breadcrumb-class">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        Está en: <a href="/">Inicio</a>
      </li>
      <li aria-current="page" class="breadcrumb-item active">
        <a href="{% url 'calls' %}">Convocatorias</a>
      </li>
    </ol>
  </nav>
</div>
{% endblock %}


{% block 'main' %}
<div class="container-lg">

    <h1 class="display-3">Convocatorias</h1>
    <!--
    <div class="dima-content">
        <div class="row">

          <div class="col-md-12 col-lg-6 dima-margin-bottom__30">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Convocatorias de estudiantes auxiliares</h1>
                <p class="card-text"></p>
                <a href="{% url 'students_call' %}" class="card-link">Ver convocatorias...</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 dima-margin-bottom__30">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Convocatorias internas</h1>
                <p class="card-text"></p>
                <a href="{% url 'internal_call' %}" class="card-link">Ver convocatorias...</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 dima-margin-bottom__30">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Convocatorias conjuntas</h1>
                <p class="card-text"></p>
                <a href="{% url 'joint_call' %}" class="card-link">Ver convocatorias...</a>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-6 dima-margin-bottom__30">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">Convocatorias Minciencias</h1>
                <p class="card-text"></p>
                <a href="{% url 'minciencias_call' %}" class="card-link">Ver convocatorias...</a>
              </div>
            </div>
          </div>

        </div>
    </div>
    -->
       <div class="">
        <button class="dima-click_buttons student-title" id="calls_students">Estudiantes Auxiliares</button>
        <button class="dima-click_buttons dima-click_buttons_inactive" id="calls_inner">Internas</button>
        <!--<button class="dima-click_buttons dima-click_buttons_inactive" id="calls_outer">Externas</button>-->
        <button class="dima-click_buttons dima-click_buttons_inactive" id="calls_joint">Conjuntas</button>
        <button class="dima-click_buttons dima-click_buttons_inactive" id="calls_minciencias">Minciencias</button>
      </div>
      <div class="div-flex">
        <div class="col-30-70">
          <input type="text" id = "dima-search--name__calls" onkeypress="return event.keyCode != 13" placeholder="Nombre de la convocatoria">
          <select class="form-select" id = "dima-select--state__calls" aria-label="Default select example">
            <option value="All">Todas las convocatorias</option>
            {% for c in call_state %}
              <option value="{{c}}">{{c}}</option>
            {% endfor %}
          </select>
          <select class="form-select" id = "dima-select--student__calls" aria-label="Default select example">
            <option value="All">Todos los estudiantes</option>
            {% for c in call_student %}
              <option value="{{c}}">{{c}}</option>
            {% endfor %}
          </select>
          <!--<select class="form-select" id = "dima-select--sum__calls" aria-label="Default select example">
            <option value="All">Todos los montos</option>
            {% for c in researcher_categories %}
              <option value="{{c}}">{{c}}</option>
            {% endfor %}
          </select>-->
        </div>
        <div id="dima-render--calls" class="col-70-30">
          {% include 'convocatorias/calls_list.html' %}
        </div>    
      </div>
</div>
{% endblock %}
