{% load static %}
<script>
  function redirectToURL(url) {
    window.location.href = url;
  }
</script>


<body>
  <table class="dima-table">
    <tr>
      <td>

        <div class="dima-div-0">
          <div class="dima-div-1">
            <a class="dima-buttons-0" href="{% url 'formatos' %}">Formatos y solicitudes</a>
          </div>
        </div>
        
        
      </td>
      <td>
        <div class="dima-div-2">
          <div class="dima-div-3">
            <a class="dima-buttons-0" href="{% url 'data' %}">DIMA en datos</a>
          </div>
        </div>
      </td>
      <td>          
        <div class="dima-div-4">
          <div class="dima-div-5">
            <a class="dima-buttons-0" href="{% url 'newsletters' %}">Boletines DIMA</a>
          </div>
        </div>
      </td>
      <td>            
        <div class="dima-div-6">
          <div class="dima-div-7">
            <a class="dima-buttons-1" href="{% url 'calls' %}">Convocatorias</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dima-div-8">
          <div class="dima-div-9">
            <a class="dima-buttons-0" href="{% url 'equipo_de_trabajo' %}">Contáctenos</a>
          </div>
        </div>
      </td>
    </tr>
  </table>
</body>



<!--
<div class="dima-nav__container dima-nav__container-home">
  <div class='container-fluid'>
  <div class="dima-main">

    <ul class="nav dima-nav-home">
      <li class="nav-item dima-color_one">
        <img class="nav-item_icon" src="{% static '/unal/Icons/application.png' %}"></img>
        <a class="nav-link" href="{% url 'formatos' %}">Formatos y solicitudes</a>
      </li>
      <li class="nav-item dima-color_two">
        <img class="nav-item_icon" src="{% static '/unal/Icons/grafico-de-barras.png' %}"></img>
        <a class="nav-link" href="{% url 'data' %}">DIMA en datos</a>
      </li>
      <li class="nav-item dima-color_three">
        <img class="nav-item_icon" src="{% static '/unal/Icons/periodico.png' %}"></img>
        <a class="nav-link" href="{% url 'newsletters' %}">Boletines DIMA</a>
      </li>
      <li class="nav-item dima-color_four">
        <img class="nav-item_icon" src="{% static '/unal/Icons/megafono.png' %}"></img>
        <a class="nav-link" href="{% url 'calls' %}">Convocatorias</a>
      </li>
      <li class="nav-item dima-color_five">
        <img class="nav-item_icon" src="{% static '/unal/Icons/informacion.png' %}"></img>
        <a class="nav-link" href="{% url 'contact' %}">Contáctenos</a>
      </li>
      <li class="nav-item dima-color_six">
        <img class="nav-item_icon" src="{% static '/unal/Icons/equipo.png' %}"></img>
        <a class="nav-link" href="{% url 'equipo_de_trabajo' %}">Equipo de trabajo</a>
      </li>
    </ul>

  </div> -->
</div>
