{% extends "base_unal.html" %}
{% load static %}

{% block 'breadcrumb' %}
<div class="breadcrumb-class breadcrumb-class__no-border">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Está en:<a href="/">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="#">Dima en datos</a></li>
      <li class="breadcrumb-item dima-breadcrumb"></li>
    </ol>
  </nav>
</div>
{% endblock %}


{% block 'main' %}
  <div>
    <h1>Dima en datos</h1>
    <p>
      La Dirección de Investigaciones de Manizales DIMA tiene como objeto principal orientar, promover y financiar a través de los recursos que se le asignen, las actividades de investigación en la Sede.
    </p>
  </div>
  <select class="form-select" id = "dima-select--data" aria-label="Default select example">
    <option value="Groups">Grupos de investigación</option>
    <option value="Researchers">Investigadores</option>
    <option value="Patents">Propiedad intelectual</option>
    <option value="Projects">Proyectos</option>
  </select>
  <div>
    {% if data_choice == 'Default' %}
      {% include 'investigacion.html' %}
    {% elif data_choice == 'Default' %}
      {% include 'investigacion.html' %}
    {% elif data_choice == 'Default' %}
      {% include 'investigacion.html' %}
    {% elif data_choice == 'Default' %}
      {% include 'investigacion.html' %}
    {% endif %}
  </div>
{% endblock %}
